/* max-width 480px */
@media screen and (max-width: @phoneLandscapeViewportWidth){
	#hp_frame_cc,
	#hp_frame_dc{
		border: 0;
		width: 220px;
		height: 190px;
	}
}

/* min-width 480px */
@media screen and (min-width: @phoneLandscapeViewportWidth){
	#hp_frame_cc,
	#hp_frame_dc{
		border: 0;
		width: 290px;
		//height: 190px;
		height: 210px;
	}
}

/* more viewports */
/* 768px 
@media screen and (min-width: @tabletViewportWidth){}
/* 1024px 
@media screen and (min-width: @tabletLandscapeViewportWidth){}
/* 1260px
@media screen and (min-width: @desktopViewportWidth){}
*/